*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;

  background: rgb(255, 255, 255);

  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 1) 80%,
    rgba(0, 0, 0, 0.8995973389355743) 90%
  );
  background-repeat: no-repeat;
}
