.image {
  height: 200px;
  width: 200px;
  margin: 0 8px;
}

.counter {
  display: flex;

  margin: 16px;

  & h3 {
    margin: 0;
  }

  & input {
    font-size: 1rem;
    text-align: center;
    width: 40px;
    height: 40px;
    margin: 2px;
    padding: 4px;
  }

  & button {
    text-align: center;
    font-size: 1.4rem;
    margin: 2px;
    padding: 4px;
    width: 40px;
    height: 40px;
  }
}

.cookieBanner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0;

  box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px;
  background-color: rgba(253, 253, 253, 0.751);
  backdrop-filter: blur(5px);
  padding: 8px 32px;

  width: 100vw;

  & button {
    padding: 16px;
  }
  & p {
    margin: 4px 0 12px 0;
  }
}
