.singlePageProduct {
  display: flex;
  flex-direction: column;
  align-items: center;

  & h1 {
    margin-top: 0;
  }

  & p {
    color: white;
    margin: 0;
    padding: 0 16px 16px 16px;
  }
}

.productContainer {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px;
  background-color: rgba(253, 253, 253, 0.193);
  border-radius: 8px 8px 2px 2px;

  padding: 8px;
  margin: 32px 16px;

  & .descriptionAndCounter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 297px;
    height: 528px;
    padding: 8px;

    h2 {
      padding-left: 8px;
      margin: 4px 0 4px 0;
      font-size: 1.6rem;
      font-weight: 700;
      font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
        Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue',
        sans-serif;
    }

    .price {
      text-align: center;
      background-color: #177e89;
      color: #effff5;
      border-radius: 4px;
      width: 80px;
      height: 40px;
      align-self: center;
      font-size: 1.4rem;
      font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
        Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue',
        sans-serif;
      padding: 4px;
      margin-top: 40px;
    }

    p {
      font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
        Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue',
        sans-serif;

      font-weight: 400;

      font-size: 0.86rem;
      text-align: left;
      padding: 6px;
      margin-bottom: 12px;
      color: rgb(33, 33, 33);
    }
  }
}

.productCard {
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px;
  background-color: rgba(253, 253, 253, 0.193);
  border-radius: 8px 8px 2px 2px;
  max-width: auto;
  max-height: auto;
  padding: 8px;

  & a {
    text-align: center;
    color: rgb(39, 39, 39);
    text-decoration: none;

    & h2 {
      margin: 0;
      padding: 8px 0 16px 0;
    }
  }
  .imageCard {
    max-width: 297px;
    max-height: 528px;
    border-radius: 8px;
  }
}

.addToCartComponent {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: auto;
  max-height: 128px;
  margin: 10px 0 0 0;
  padding: 8px;
  gap: 4px;
  background-color: #38369a58;
  backdrop-filter: blur(5px);
  border-radius: 8px;

  .h3Header {
    margin-right: 66px;

    & h3 {
      color: rgb(36, 36, 36);
      font-size: 0.9rem;
      margin: 0;

      font-weight: 200;
    }
  }

  .counter {
    display: flex;

    & input {
      background-color: #ffffff;
      border-radius: 4px;
      border: none;
      font-size: 1rem;
      text-align: center;
      width: 40px;
      height: 40px;
      margin: 2px;
      padding: 4px;
    }

    & button {
      background-color: #ffffff;
      border-radius: 4px;
      border: 1px solid white;
      transition: border-color 600ms ease-out 50ms;
      color: #433a3f;
      text-align: center;
      font-size: 1.4rem;
      margin: 2px;
      padding: 4px;
      width: 40px;
      height: 40px;
    }
    & button:hover {
      cursor: pointer;

      border: 2px solid #38369a;
    }
  }

  .addToCart {
    & button {
      border: 2px solid #38369a;
      border-radius: 4px;
      width: 128px;
      height: 40px;
      font-size: 1rem;
      color: white;
      background-color: #38369a;
      transition: border-color 600ms ease-out 50ms;
      text-align: center;

      margin: 2px;
      padding: 4px;
    }

    & button:hover {
      cursor: pointer;

      border-color: white;
    }
  }
}
